<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dzm.dldz.dao.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.dzm.dldz.bean.module.Module" >
    <id column="moduleid" property="moduleid" jdbcType="BIGINT" />
    <result column="modulename" property="modulename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    moduleid, modulename
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dzm.dldz.bean.module.ModuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_module
    where moduleid = #{moduleid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_module
    where moduleid = #{moduleid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dzm.dldz.bean.module.ModuleExample" >
    delete from t_module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dzm.dldz.bean.module.Module" >
    insert into t_module (moduleid, modulename)
    values (#{moduleid,jdbcType=BIGINT}, #{modulename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dzm.dldz.bean.module.Module" >
    insert into t_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleid != null" >
        moduleid,
      </if>
      <if test="modulename != null" >
        modulename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleid != null" >
        #{moduleid,jdbcType=BIGINT},
      </if>
      <if test="modulename != null" >
        #{modulename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dzm.dldz.bean.module.ModuleExample" resultType="java.lang.Integer" >
    select count(*) from t_module
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_module
    <set >
      <if test="record.moduleid != null" >
        moduleid = #{record.moduleid,jdbcType=BIGINT},
      </if>
      <if test="record.modulename != null" >
        modulename = #{record.modulename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_module
    set moduleid = #{record.moduleid,jdbcType=BIGINT},
      modulename = #{record.modulename,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dzm.dldz.bean.module.Module" >
    update t_module
    <set >
      <if test="modulename != null" >
        modulename = #{modulename,jdbcType=VARCHAR},
      </if>
    </set>
    where moduleid = #{moduleid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dzm.dldz.bean.module.Module" >
    update t_module
    set modulename = #{modulename,jdbcType=VARCHAR}
    where moduleid = #{moduleid,jdbcType=BIGINT}
  </update>
</mapper>